<div class="container content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
		  <span	class="anchor" id="formLogin"></span>

		  	<!-- form card login with validation feedback -->
		    <div class="card card-outline-secondary">
				<div class="card-header">
			     	<h3 class="mb-0">Whishlist</h3>
				</div>
					<!--				
					<div class="card-body">
			    	<form> ** Antes de insertar la <app-form-destino-viaje..>  ***
			    	<div class="form-group">
			    		<label for="nombre">Nombre</label>
			    		<input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre>
			    	</div>
			    	<div class="form-group">
						<label	for="Imagen	Url">Imagen	Url</label>
						<input	type="text"	class="form-control"	id="imagenUrl"	placeholder="Ingresar url..." #url>
			   		</div>
			   		<button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, url.value)">Guardar!</button>
			   		</form>
			   		-->
				<div class="card-body">
			   		<app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
				</div>
			</div>
		</div>
	</div>

	<hr	class="mb-5">
	
	<div class="row row-flex">
			<!--
			*ngFor= "let d of destinosApiClient.getAll(); let i=index"   
			*ngFor= "let d of getAll(); let i=index" 
			*ngFor= "let d of all; let i=index" 
			-->
		<app-destino-viaje 
			*ngFor= "let d of destinosApiClient.getAll(); let i=index"   
			[destino]="d"
			[idx] = "i+1"
			(onClicked) = "elegido(d)"
			appEspiame
			>
		</app-destino-viaje>
	</div>

	<hr	class="mb-5">
	<div class="row row-flex">
		<h5>Actividad</h5>
		<ul>
			<li *ngFor="let u of updates;">{{u}}!</li>
		</ul>	
	</div>

</div>
	